@keyframes fade-in {
	from {
		opacity: 0;
		visibility: hidden;
	}

	to {
		visibility: visible;
		opacity: 1;
		display: none;
	}
}
@keyframes fade-out {
	from {
		opacity: 1;
		visibility: visible;
	}

	to {
		visibility: hidden;
		opacity: 0;
	}
}
.fade-in {
	animation: fade-in 0.3s ease-in-out backwards;
}
.fade-out {
	animation: fade-out 0.3s ease-in-out backwards;
}
